.form {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.form label {
    display: flex;
    line-height: 24px;
    margin-top: 5px;
    color: #666;
}

.form input {
    display: flex;
    line-height: 24px;
    margin-top: 5px;
    color: #666;
}

.form button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.form button:hover {
    opacity: 0.7;
}
